@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0px;
}
.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.16), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
    display: inline-block;
}
.button {
    background-color: #c9c9c9;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    outline: none;
}
.button:hover {
    background-color: #adadad;
    box-shadow: 0 0 6px rgba(66, 66, 66, 0.5);
}
.button:active {
    background-color: #999999;
}
.navbar {
    background: #ff6a00;
    color: white;
    box-shadow: 0 2px 4px -1px rgba(66, 66, 66, 0.2), 0 4px 5px 0 rgba(66, 66, 66, 0.14), 0 1px 10px 0 rgba(66, 66, 66, 0.12);
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
}
.shopping-list {
    background: #ff6a00;
    text-align: initial;
}