@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0px;
}
.card-default {
    background: white;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.16), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
    display: inline-block;
}
.navbar-default {
    background: #ff6a00;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
    text-align: center;
    font-size: 50px;
}