@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0px;
}
.card-default {
    background: white;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(66, 66, 66, 0.16), 0 1px 3px 1px rgba(66, 66, 66, 0.16);
    display: inline-block;
}
.card-special {
    background: yellow;
}