.shopping-list {
    text-align: initial;
    height: inherit;
    width: inherit;
}
.shopping-list-add-button {
    background-color: transparent;
    background-image: url(../../assets/icons/add-black-48dp.svg);
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
}
.shopping-list-add-button:hover {
    box-shadow: none;
}
.shopping-list-input {
    font-size: 20px;
}
.shopping-list-input::placeholder {
    font-size: 20px;
}
.shopping-list-item {
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
}
.shopping-list-item:hover {
    background-color: #efefef !important;
}
.shopping-list-item-button {
    background-color: transparent;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
}
.shopping-list-item-button-check {
    background-image: url(../../assets/icons/done-black-48dp.svg);
}
.shopping-list-item-button-delete {
    background-image: url(../../assets/icons/clear-black-48dp.svg);
}
.shopping-list-item-button:hover {
    background-color: rgba(111, 111, 111, 0.25);
    box-shadow: none;
}
.shopping-list-item-button:active {
    background-color: rgba(111, 111, 111, 0.5);
}
.shopping-list-item-content {
    background-color: inherit;
    transition: transform 0.5s ease;
    overflow: hidden;
    text-overflow: ellipsis;
}
.shopping-list-item-content-checked {
    color: #c1c1c1;
    text-decoration: line-through;
}