.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: inline-block;
}
.button {
    background-color: #c9c9c9;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    outline: none;
}
.button:hover {
    background-color: #adadad;
    box-shadow: 0 0 2px rgba(66, 66, 66, 0.2), 0 0 5px rgba(66, 66, 66, 0.5);
}
.button:active {
    background-color: #999999;
}
.input {
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid black;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    outline: none;
}
.input::placeholder {
    color: #c1c1c1;
}