@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
body {
    margin: 0px;
    background-color: #e9e9e9;
}